In [12]:
import pandas as pd

In [13]:
cars = pd.read_csv('cars.csv')

In [26]:
cars.iloc[:5, 1::2]

    mpg   disp  drat   qsec  am  carb
0  21.0  160.0  3.90  16.46   1     4
1  21.0  160.0  3.90  17.02   1     4
2  22.8  108.0  3.85  18.61   1     1
3  21.4  258.0  3.08  19.44   0     1
4  18.7  360.0  3.15  17.02   0     2

In [23]:
cars.loc[cars['Model']=='Mazda RX4']

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [24]:
cars.loc[cars['Model']=='Camaro Z28', ['cyl']]

    cyl
23    8

In [25]:
cars_models = ['Mazda RX4', 'Ford Pantera L', 'Honda Civic']
cars.loc[cars['Model'].isin(cars_models), ['cyl', 'gear']]

    cyl  gear
0     6     4
18    4     4
28    8     5